# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local datasets (do not commit large parquet files)
data/*.parquet

# Local generated submission outputs
submission.csv

# IDE and OS files
.vscode/
.idea/
.DS_Store
uv.lockmodels/best_model.pkl
